.ReedPlayer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
    background-color: var(--clr-primary);
    padding: var(--spacing-md);

    &__Screen {
        overflow-y: auto;
    }

    &__Footer {
        z-index: var(--z-high);
        padding: var(--spacing-md);
        font-family: var(--font-secondary);
    }

    input[type='range'] {
        accent-color: var(--clr-action);
        cursor: pointer;
        border-radius: var(--txt-md);
        height: var(--txt-xs);

        &::-webkit-slider-runnable-track {
            cursor: pointer;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
        }
    }
}

.ReedPlayer__Playlist {
    display: grid;
    gap: var(--spacing-md);
}

.ReedPlayer__PlaylistItem {
    color: var(--clr-action);
    cursor: pointer;
    font-size: var(--txt-md);
    opacity: 0.5;
    transition: all 0.25s ease;

    &:hover {
        opacity: 1;
    }
}
