.ReedPlayer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;

    &__Screen {
        overflow-y: auto;
    }

    &__Footer {
        z-index: var(--z-high);
        padding: var(--spacing-md);
        font-family: var(--font-secondary);
    }

    &__Slider {
        width: 100%;
        padding: var(--spacing-md);
    }

    &__Playlist {
        display: grid;
        gap: var(--spacing-md);
    }

    &__PlaylistItem {
        cursor: pointer;
        font-size: var(--txt-sm);
        opacity: 0.5;
        transition: all 0.25s ease;

        &:hover {
            opacity: 1;
        }
    }
}
