.ReedPlayer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;

    &__Screen {
        overflow-y: auto;
    }

    &__Footer {
        z-index: var(--z-high);
        padding: var(--spacing-md);
        font-family: var(--font-secondary);
    }
}

.ReedPlayer__Playlist {
    display: grid;
    gap: var(--spacing-md);
}

.ReedPlayer__PlaylistItem {
    cursor: pointer;
    font-size: var(--txt-sm);
    opacity: 0.5;
    transition: all 0.25s ease;

    &:hover {
        opacity: 1;
    }
}
