.ReedPlayer__Options {
    display: flex;
    justify-content: center;
    gap: var(--spacing-md);
    padding-block: var(--spacing-md);
}

.ReedPlayer__Option {
    color: var(--clr-action);
    &:hover {
        color: ligten(var(--clr-action), 10%);
    }
}
