.ReedPlayer__Options {
    color: var(--clr-action) !important;
    // padding: var(--spacing-md);
}

.ReedPlayer__Option {
    color: var(--clr-action);
    &:hover {
        color: ligten(var(--clr-action), 10%);
    }
}
