@use '../../../../../../libs/shared/shared-styles/src/lib/themes/reed/theme' as *;

.TextPlayer {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

    &__Header {
        padding: map-get($spacings, 'md');
        font-family: map-get($fontFamilies, 'alt');
    }

    &__Title,
    &__Subtitle {
        letter-spacing: 0.25ch;
        line-height: 1;
    }

    &__Screen {
        overflow-y: auto;
    }

    &__Content {
        padding: map-get($spacings, 'md');
        line-height: 1.5;
        letter-spacing: -0.05ch;
        font-family: map-get($fontFamilies, 'default');
    }

    &__Chunk {
        cursor: pointer;
        font-size: map-get($fontSizes, 'md');
        margin-bottom: map-get($spacings, 'lg');
        opacity: 0.5;
        transition: all 0.25s ease;

        &:hover {
            opacity: 1;
        }

        &.is-active {
            font-size: calc(map-get($fontSizes, 'md') * 1.2);
            opacity: 1;
            transition: all 0.25s ease;
        }
    }

    &__Footer {
        padding: map-get($spacings, 'md');
        font-family: map-get($fontFamilies, 'alt');
    }

    &__Controls {
        display: flex;
        justify-content: center;
    }
}
