@use '../../../../../../libs/shared/shared-styles/src/lib/themes/reed/theme' as *;

.Player {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__Header,
  &__Content,
  &__Footer {
    padding: map-get($spacings, 'md');
  }

  &__Header,
  &__Footer {
    font-family: map-get($fontFamilies, 'alt');
    line-height: 1;
  }

  &__Title,
  &__Subtitle {
    letter-spacing: 0.25ch;
  }

  &__Screen {
    font-size: map-get($fontSizes, 'md');
    font-family: map-get($fontFamilies, 'default');
    background-color: map-get(map-get($colors, 'bg'), 'default');
    overflow-y: auto;
  }

  &__Content {
    line-height: 1.314;
    letter-spacing: -0.05ch;
  }
}
