@use '../../../../../libs/shared/shared-styles/src/lib/themes/reed/theme' as *;

.Player {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__Header,
  &__Footer {
    padding: map-get($spacings, 'md');
    font-family: map-get($fontFamilies, 'alt');
  }

  &__Screen {
    padding: map-get($spacings, 'lg');
    font-size: map-get($fontSizes, 'md');
    font-family: map-get($fontFamilies, 'default');
    background-color: map-get(map-get($colors, 'bg'), 'default');
    overflow-y: auto;
  }
}
