$active_frame_font_color: var(--clr-action);

$frame_font_size: var(--txt-sm);
$active_frame_font_size: calc($frame_font_size + 25%);
$active_frame_sibling_font_size: calc($frame_font_size + 15%);

.ReedPlayer__Content {
    line-height: 1.618;
    font-family: var(--font-primary);
    color: var(--clr-txt2);
    padding: var(--spacing-md);
}

.ReedPlayer__Frame {
    cursor: pointer;
    font-size: $frame_font_size;
    margin-bottom: var(--spacing-lg);
    opacity: 0.5;
    transition: all 0.25s ease;

    &:hover {
        opacity: 1;
    }

    &:has(+ .is-active) {
        // font-size: $active_frame_sibling_font_size;
        opacity: 1;
        transition: all 0.25s ease;
    }

    &.is-active {
        opacity: 1;
        transition: all 0.25s ease;
        font-weight: bold;
        // font-size: $active_frame_font_size;
        color: $active_frame_font_color;
    }

    &.is-active + & {
        // font-size: $active_frame_sibling_font_size;
        opacity: 1;
        transition: all 0.25s ease;
    }
}
