$control_size: var(--txt-lg);

.ReedPlayer__Controls {
    display: flex;
    justify-content: center;
    gap: var(--spacing-md);
    padding-block: var(--spacing-md);
}

.ReedPlayer__Control {
    color: var(--clr-action);

    svg {
        font-size: $control_size;
    }
}
